<h1>Carrito <span id="cart-id">{{this.cid}}</span></h1>

<table>
  <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Código</th>
    <th>Stock</th>
    <th>Categoria</th>
    <th>En el carro</th>
  </thead>
  <tbody id="table">
  </tbody>

</table>

<div style="margin-top: 25px">
  <button id="clearCart-button">Vacíar Carrito</button>
  <button id="purchase-button">Finalizar Compra</button>
</div>

<div id="purchase-details">

</div>

<script src="js/{{script}}.js"></script>