<h1>Olvidé mi contraseña</h1>

<form action="">
  <label for="email">Correo Electrónico</label>
  <input type="email" name="email" id="email">

  <button id="reset-button">Restablecer</button>
</form>

<p id="info"></p>

<script src="/js/{{script}}.js"></script>