<h1>Panel de Control de Usuarios</h1>

<table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="table-body">
      
    </tbody>
</table>

<span id="notify" style="position:absolute;bottom:10px;width:320px;background-color:lightblue;padding:10px;border:1px solid black;border-radius:5px;visibility:hidden;">
</span>

<script src="js/{{script}}.js"></script>