<h1>Restablecer contraseña</h1>

<p>Solicitud n°<b id="token">{{token}}</b></p>

<form action="">
  <label for="password">Ingrese su nueva contreseña</label>
  <input type="password" name="password" id="password">

  <button id="reset-button">Restablecer</button>
</form>

<p id="info"></p>

<script src="/js/{{script}}.js"></script>